<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>My Website - About</title>
<link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
<h1>Tajay Edwards</h1>
<p>I am an Electronics Engineer in training and I have developed a deep interest in the field of Science and Technology over the years. Most of time is spent on coding and designing electronic devices, and watching movies.  I research and develop Internet of Things (IoT) solutions using Embedded systems,as a hobbyist and also professionally. One of the stages in developing IoT systems involves create User Interfaces, to allow clients to interract with the system and this is why I am intereted in web development. </p>
</body>

</html>
